$(function () {
/////////////// Add a date ///////////////////
    $("#new_day").submit(function(e){
      e.preventDefault();
      $(".add_day").find(".error").text("")
      var day_id = $("#day_date").val();
     
      $.ajax({
        type: "POST",
        url: "/days",
        data: {day: {date: day_id}},
        success: function(response){
          var options = $("option");
          var unique  = true;

          for (var i = 1; i < options.length; i++){
            if ($(options[i]).val() == day_id){ unique = false; }
          }

          if (unique){
            var date = $("#day_date").val();
            $("#location_day_id").append("<option value=" + response.id + ">" + date + "</option>");
           
            var ddl = document.getElementById('location_day_id');
      
            for (var i=0; i<ddl.options.length; i++){
                if (i=(ddl.options.length-1)){
                    ddl.options[i].selected = true;
                    break;
                }
            }

            $("#day_date").val('');
          }
        },
      error: function (request, status, error) {
          $(".add_day").append("<div class=\"error\">That day has already been added.</div>");
      }
      })
    });



 });

    