html { 
  height: 100%;
}

body { 
  height: 100%; margin: 0; padding: 0; 
  
}

.footer {
   clear: both;
   left:0px;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   bottom:0px;
   height:60px;
   width:100%;
   background:white;
   color: #777777;
} 

/* Instruction Section on Front Page */
.instructions {
   clear: both;
   left:0px;
   padding-left: 20px;
   padding-top: 80px;
   padding-bottom: 40px;
   bottom:60px;
   height:200px;
   width:100%;
   background:#f8f8f8;
   color: #777777;
   text-align: center;
   font-size: 20px !important;
   font-family: "Montserrat", sans-serif !important;
   font-weight: 300 !important;
}

  
/* Map */
#map-canvas { 
  height: 100%;
  width: 80%;
  margin: auto;
  clear: both;
}

/* About Modal */
.modalDialog {
  position: fixed;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2b2d35;
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > .modal-box {
  width: 50%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  color: #fff;
}

.modalDialog h2, h3 {
  color: #88b7b3;
}

.close {
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-size: 60px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.close:hover { color: #88b7b3; }

/* Navigation Bar */

.navbar-brand {
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  color: #88b7b3;
}

.navbar a:hover {
  color: #88b7b3 !important;
}

.navbar {
  margin-bottom: 0px !important;
  height: 80px;
  padding-right: 15px;
}

.facebook-button{
  margin-top: -12px;
}


.container80 {
  width: 80%; 
  margin: auto;
  margin-top: 20px;
}

.navname {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  text-transform: uppercase;
}

/* Forms */

.forms {
  background-color: #88b7b3;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.add_location {
  display: inline-block;
}

#location_day_id {
  
}

.add_date {
  display: inline-block;
  padding-bottom: 15px;
}

#day-date {
  position: relative;
  float: left;
}


/*awesome styling for search boxes*/

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 200px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 600px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Day Dropdown */
select {
  background-color: #ededed;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  height: 30px;
  width: 200px;
  border-radius: 30em;
  font-family: Arial, Helvetica, sans-serif;
}

/* buttons */
.btn-default {
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  text-transform: uppercase;
}

