<h1> Mapify </h1>

  <%= form_tag("/locations", method:"POST", :class => "add_location") do %>
    <%= label_tag(:query, "Where did you go?") %>
    <%= text_field_tag(:query, "e.g. Central Park") %>
    <%= submit_tag("Add Location") %>
  <% end %>

<button class="animate">Draw route</button>
<div id="map-canvas" style="width: 70%; height: 100%"/>