<a href="#openModal">ABOUT THIS APP</a>

<div id="openModal" class="modalDialog">
  <div class="modal-box">
    <a href="#close" title="Close" class="close">X</a>
    <div class="modal-text">
    <h2>ABOUT THIS APP</h2>
    <blockquote> “It is good to have an end to journey toward; but it is the journey that matters, in the end.” <br>― Ernest Hemingway</blockquote> 
    <p>Everybody is on a journey. Let us help you reflect on yours.</p>
  <p>
    Add a day to the map. Click on the places you journeyed to that day on the map.
  <p>
    </div>
  </div>
</div>