<a href="#openModal">ABOUT THIS APP</a>

<div id="openModal" class="modalDialog">
  <div class="modal-box">
    <a href="#close" title="Close" class="close">X</a>
    <div class="modal-text">
    <h2>ABOUT THIS APP</h2>
    <br>
    <blockquote> “It is good to have an end to journey toward; but it is the journey that matters, in the end.” <br>― Ernest Hemingway</blockquote> 
    <br>
    <h4>Everybody is on a journey. Let us help you reflect on yours.</h4>
    <br>
    <h3>How it works:</h3>
    <br>
    <p>Add a day to the map.</p> 
    <p>Select the day.</p> 
    <p>Click on the places you journeyed to that day.</p> 
    <p>Click 'Draw Route' to view the path you traveled that day.</p>
    </div>
  </div>
</div>