<div class="footer clearfix">
 <p>This app was created by <a href="https://github.com/jbarrieault"> Jacob Barrieault </a>, <a href="https://github.com/juliataitz"> Julia Taitz </a>, and <a href="https://github.com/ambertunnell"> Amber Tunnell </a> at <a href="http://www.flatironschool.com"> The Flatiron School</a> in New York City.</p>
</div> 