<div class="footer clearfix">
 <p>This app was created by Jacob Barrieault, Julia Taitz, and Amber Tunnell at <a href="http://www.flatironschool.com"> The Flatiron School</a> in New York City.</p>
</div> 