<a href="#boxModal">HOW IT WORKS</a>

<div id="boxModal" class="instruction-boxes">
  <div class="modal-box">
    <a href="#close" title="Close" class="close">X</a>
    <div class="modal-text">

 <div class="box col-md-4">a. Add days to your calendar.</div>
  <div class="box col-md-4">b. Add the places you went to on those days.</div>
  <div class="box col-md-4">c. See your journey interactively mapped out.</div>
    </div>
  </div>
</div>