<div class="instructions clearfix">
  <div class="col-md-4 part1">a. Add days to your calendar.</div>
  <div class="col-md-4 part2">b. Add the places you went to on those days.</div>
  <div class="col-md-4 part3">c. See your journey interactively mapped out.</div>
</div> 